<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/styles.css" />
<html>
    <head>
        <div class="images">
          <img src="/assets/BSU-from-the-air-whole-campus.jpg" class="picture">
          <img src="/assets/42716234_2396900276993515_7948299128318984192_n.jpg" alt="Josh McClary" class="picture">
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/home" style="font-weight:bold; color:#0064FF">GIMM Portfolio</a>            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background-color:#0064FF">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/home">Home</a>
                <a class="nav-item nav-link active" href="/bio">Bio<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/gallery">Gallery</a>
                <a class="nav-item nav-link" href="/games">Games</a>
                <a class="nav-item nav-link" href="/videos">Videos</a>
                <a class="nav-item nav-link" href="http://18.204.221.139/" target="_blank">Wordpress</a>
                <a class="nav-item nav-link" href="#">App Project (Coming Soon)</a>
              </div>
            </div>
          </nav>
    </head>
    <body class="body">
        <h1 style="text-align:center">Biography</h1>
        <p class="paragraph">I was born in Denver, CO on October 31, 1999. After several years of moving to new homes, from California to Ohio, we finally settled in Emmett, Idaho in the summer of 2013. I attended and graduated from Emmett High School (2014-2018) with what I believe was a 3.2 GPA. My mother is a teacher at Calvary Christian Academy, and she is also an entrepreneur who makes and sells pillows based off pop culture characters. My father is a pastor of an independent christian church, The Orchard Christian Church. I am the oldest of four--I have two brothers, Zeke and Sam, and one sister, Hannah. My hobbies include playing guitar, playing video games, reading, drawing, and riding my bike. I decided I wanted to attend Boise State University long before I even graduated high school. It was one of the closest universities to my home, which meant that I could stay at home and commute, which would save me lots of money that would otherwise be spend on room and board and food. I also chose BSU because of its relatively low tuition cost compared to other colleges, and because they had a program that I was excited to pursue. The GIMM program, short for Gaming, Interactive Media, and Mobile technology, is the main reason I chose this university. I had always been a fan of technology and gaming, and being able to work in that general field seemed to be the career I was looking for. So far, it is living up to my expectations, despite being a bit harded than I anticipated.</p>
    </body>
</html>