<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/styles.css" />
<html>
    <head>
        <div class="images">
          <img src="/assets/BSU-from-the-air-whole-campus.jpg" class="picture">
          <img src="/assets/42716234_2396900276993515_7948299128318984192_n.jpg" alt="Josh McClary" class="picture">
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/home" style="font-weight:bold; color:#0064FF">GIMM Portfolio</a>            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background-color:#0064FF">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/home">Home</a>
                <a class="nav-item nav-link" href="/bio">Bio</a>
                <a class="nav-item nav-link active" href="/gallery">Gallery<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/games">Games</a>
                <a class="nav-item nav-link" href="/videos">Videos</a>
                <a class="nav-item nav-link" href="http://18.204.221.139/" target="_blank">Wordpress</a>
                <a class="nav-item nav-link" href="#">App Project (Coming Soon)</a>
              </div>
            </div>
          </nav>
    </head> 
    <body class="body">
        <h1 style="text-align:center">Gallery</h1>

        <p class="paragraph_notice">NOTICE: There was much more artwork that I could have put on this page, but due to time constraints and a persitent issue that I could not resolve, I had no choice but to leave this page as-is.</p>

        <h3 style="margin:0 0 30px 30px">Concept Art: Music Video Project:</h3>

        <div class="gallery" style="margin:0 0 0 30px">
            <a target="_blank" href="/assets/McClary_Joshua_background.jpg">
              <img src="/assets/McClary_Joshua_background.jpg" alt="background" width="600" height="400">
            </a>
            <div class="desc">Concept Art 1</div>
        </div>
        <div class="gallery" style="margin:0 0 0 10px">
            <a target="_blank" href="/assets/McClary_Joshua_props.jpg">
              <img src="/assets/McClary_Joshua_props.jpg" alt="props" width="600" height="400">
            </a>
            <div class="desc">Concept Art 2</div>
        </div>
        <div class="gallery" style="margin:0 0 0 10px">
            <a target="_blank" href="/assets/McClary_Joshua_Protagonist_Body.jpg">
              <img src="/assets/McClary_Joshua_Protagonist_Body.jpg" alt="body" width="600" height="400px">
            </a>
            <div class="desc">Concept Art 3</div>
        </div>
        <div class="gallery" style="margin:0 0 0 10px">
            <a target="_blank" href="/assets/McClary_Joshua_Protagonist_Face.jpg">
              <img src="/assets/McClary_Joshua_Protagonist_Face.jpg" alt="face" width="600" height="400">
            </a>
            <div class="desc">Concept Art 4</div>
        </div>
        <div class="gallery" style="margin:0 0 0 10px">
            <a target="_blank" href="/assets/McClary_Joshua_Protagonist_Head.jpg">
              <img src="/assets/McClary_Joshua_Protagonist_Head.jpg" alt="head" width="600" height="400">
            </a>
            <div class="desc">Concept Art 5</div>
        </div>
    </body>   
</html>