<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/styles.css" />
<html>
    <head>
        <div class="images">
          <img src="/assets/BSU-from-the-air-whole-campus.jpg" class="picture">
          <img src="/assets/42716234_2396900276993515_7948299128318984192_n.jpg" alt="Josh McClary" class="picture">
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/home" style="font-weight:bold; color:#0064FF">GIMM Portfolio</a>            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background-color:#0064FF">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/home">Home</a>
                <a class="nav-item nav-link" href="/bio">Bio</a>
                <a class="nav-item nav-link" href="/gallery">Gallery</a>
                <a class="nav-item nav-link active" href="/games">Games<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/videos">Videos</a>
                <a class="nav-item nav-link" href="http://18.204.221.139/" target="_blank">Wordpress</a>
                <a class="nav-item nav-link" href="#">App Project (Coming Soon)</a>
              </div>
            </div>
          </nav>
    </head>
    <body class="body">
        <h1 style="text-align:center">Games</h1>
        <h3 style="margin:0 0 0 30px">Sun Daily Assignment</h3>
        <p class="paragraph">This was my first ever Flash project. It was supposed to be an interactive animation with two buttons you could use to make the sun rise then set manually. I never figured out how to make it work but I did make some nice visuals, and I at least animated the sun's movement despite not being interactive.</p>
        <embed src="/assets/Josh McClary - Sun Daily Assingment.swf" width="300px" height="230px" style="display:block; margin-left:auto; margin-right:auto"></embed>
        <h3 style="margin:30px 0 0 30px">Star Wars: Rogue Squadron</h3>
        <p class="paragraph">This was my first ever game, modified from a template created by my professor during my first semester at BSU. I created the player and enemy models, added the stars and the Death Star in the background, and added a feature that would cause the player to loop to the opposite side of the playing field if they travelled too far. I also added the feature that if the player were to drop to a low enough hp level, they would be able to speed up by holding down the shift key to flee to safety. Though at the time I was well aware of the fact that this title was already copyrighted by Factor 5 and Lucasarts, this was my first ever game and I couldn't think of any better name for it. Given that this was my first ever game and would not be sold for profit, I didn't worry about using the same name.</p>
        <embed src="/assets/Survive.swf" width="999px" height="600px" style="display:block; margin-left:auto; margin-right:auto"></embed>
        <h3 style="margin:30px 0 0 30px">Isabella Jones</h3>
        <p class="paragraph">This was my second game, and my first group project. We decided to make a spinoff character based on Indiana Jones and make a stereotypical dungeon-shooter-platformer where you use your lantern and a pistol to shoot down nazis and find the treasure at the end of the tomb. I created all of the artwork you see in this game, with the exception of the enemies. I also programmed the levels to be procedurally generated, so that the previous level disappears once you cross the screen and a new level appears. It was actually quite difficult but I made it work. My classmate, Justin, programmed the character animations, the flashlight effect, the healthbar, the ammunition, and the movement. Sam collected the audio files for us.</p>
        <p style="margin:0 30px 30px 30px; color:red; text-align:justify">NOTICE: This game has music, which I could not prevent from playing automatically upon landing on this page. When you are ready to play this game, click on the placeholder image below and it will open a new page with the actual playable game (and it's noisy music).</p>
        <a href="/isabellaJones">
          <img alt="Qries" src="/assets/IsabellaJonesStart.JPG"
          width="1280px" height="720px" style="display:block; margin-left:auto; margin-right:auto">
       </a>
    </body>
</html>