<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/styles.css" />
<html>
    <head>
        <div class="images">
            <img src="/assets/BSU-from-the-air-whole-campus.jpg" class="picture">
            <img src="/assets/42716234_2396900276993515_7948299128318984192_n.jpg" alt="Josh McClary" class="picture">
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/home" style="font-weight:bold; color:#0064FF">GIMM Portfolio</a>            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background-color:#0064FF">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/home">Home<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/bio">Bio</a>
                <a class="nav-item nav-link" href="/gallery">Gallery</a>
                <a class="nav-item nav-link" href="/games">Games</a>
                <a class="nav-item nav-link" href="/videos">Videos</a>
                <a class="nav-item nav-link" href="http://18.204.221.139/" target="_blank">Wordpress</a>
                <a class="nav-item nav-link" href="#">App Project (Coming Soon)</a>
              </div>
            </div>
          </nav>
    </head>
    <body class="body">
        <h1 style="text-align:center">Welcome to my GIMM portfolio website.</h1>
        <h3 style="text-align:center">Here you can find:</h3>
        <div style="text-align: center">
            <ul style="display: inline-block; text-align: left; margin:30px 0 0 0">
                <li>A small biography of me</li>
                <li>A gallery of some artwork I created</li>
                <li>Some playable games that I have made both by myself and with a group</li>
                <li>Some videos, including a trailer for one of my games</li>
                <li>A link to my first ever website using Wordpress</li>
                <li>A link to my future game/app project that will be added later</li>
            </ul>
        </div>
    </body>    
</html>