<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/styles.css" />
<html>
    <head>
        <div class="images">
            <img src="/assets/BSU-from-the-air-whole-campus.jpg" class="picture">
            <img src="/assets/42716234_2396900276993515_7948299128318984192_n.jpg" alt="Josh McClary" class="picture">
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/home" style="font-weight:bold; color:#0064FF">GIMM Portfolio</a>            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background-color:#0064FF">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/home">Home</a>
                <a class="nav-item nav-link" href="/bio">Bio</a>
                <a class="nav-item nav-link" href="/gallery">Gallery</a>
                <a class="nav-item nav-link" href="/games">Games</a>
                <a class="nav-item nav-link" href="/videos">Videos</a>
                <a class="nav-item nav-link" href="http://18.204.221.139/" target="_blank">Wordpress</a>
                <a class="nav-item nav-link" href="#">App Project (Coming Soon)</a>
                <a class="nav-item nav-link active" href="#">Isabella Jones<span class="sr-only">(current)</span></a>
              </div>
            </div>
          </nav>
    </head>
    <body class="body">
      <h3 style="margin:30px 0 0 30px">Isabella Jones</h3>
      <p class="paragraph">This was my second game, and my first group project. We decided to make a spinoff character based on Indiana Jones and make a stereotypical dungeon-shooter-platformer where you use your lantern and a pistol to shoot down nazis and find the treasure at the end of the tomb. I created all of the artwork you see in this game, with the exception of the enemies. I also programmed the levels to be procedurally generated, so that the previous level disappears once you cross the screen and a new level appears. It was actually quite difficult but I made it work. My classmate, Justin, programmed the character animations, the flashlight effect, the healthbar, the ammunition, and the movement. Sam collected the audio files for us.</p>
        <embed src="/assets/MainDoc.swf" width="1280px" height="720px" style="display:block; margin-left:auto; margin-right:auto"></embed>
    </body>    
</html>