<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/styles.css" />
<html>
    <head>
        <div class="images">
          <img src="/assets/BSU-from-the-air-whole-campus.jpg" class="picture">
          <img src="/assets/42716234_2396900276993515_7948299128318984192_n.jpg" alt="Josh McClary" class="picture">
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/home" style="font-weight:bold; color:#0064FF">GIMM Portfolio</a>            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background-color:#0064FF">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/home">Home</a>
                <a class="nav-item nav-link" href="/bio">Bio</a>
                <a class="nav-item nav-link" href="/gallery">Gallery</a>
                <a class="nav-item nav-link" href="/games">Games</a>
                <a class="nav-item nav-link active" href="/videos">Videos<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="http://18.204.221.139/" target="_blank">Wordpress</a>
                <a class="nav-item nav-link" href="#">App Project (Coming Soon)</a>
              </div>
            </div>
          </nav>
    </head>
    <body class="body">
        <h1 style="text-align:center">Videos</h1>
        <h3 style="margin:0 0 0 30px">Music Video Project</h3>
        <p class="paragraph">This was a very fun project that I unfortunately did not complete (though I did meet the length requirement, which was enough for an A or B grade). The assignment was to create a "music video," an animation that matched with the music and told a story. We were supposed to incorporate small amounts of our own live-action video recordings, but since I could not get any live footage of the ocean or pirate ships from Idaho, my professor allowed me to animate the entire thing without live footage. It made for a more daunting task, but had I allocated more time to this project, not only would I have completed the entire video but the animation would have been much more smooth as well.</p>
        <video controls width="1066.667px" height="600px" style="display:block; margin-left:auto; margin-right:auto">
          <source src="/assets/Josh McClary Music Video Project.mp4"
                  type="video/mp4">
        </video>
        <h3 style="margin:30px 0 0 30px">Informative Animation</h3>
        <p class="paragraph">This was an odd assignment. I don't remember the exact description of the assignment, but I believe we had to create a video talking about one of the "quantum theories" (whatever they were called) that we had discussed from a book as a class. We got the topic of explaining the 4th dimension, so we though using a rotoscope as en example was the simplest way to explain it. As simple as the project was, and given that there were four of us in the group, all I did was animate the 3-dimensional cube and help write the script. This is not my voice in the video.</p>
        <video controls width="659px" height="476px" style="display:block; margin-left:auto; margin-right:auto">
          <source src="/assets/informativeAnimation.mp4"
                  type="video/mp4">
        </video>
        <h3 style="margin:30px 0 0 30px">Game Trailer</h3>
        <p class="paragraph">This was a pretty fun project. The objective was to create a trailer for my first ever game, Star Wars: Rogue Squadron (located on my game page). The music is a royalty-free song that sounds like the Star Wars theme. It's a little cringey, but it was the best thing I could find without using the actual music and violating copywright. I used Adobe Premiere to put this together.</p>
        <video controls width="1066.667px" height="600px" style="display:block; margin-left:auto; margin-right:auto">
          <source src="/assets/McClary, Joshua - Project 4 - Game Trailer.mp4"
                  type="video/mp4">
        </video>
    </body>  
</html>